<div class="about">
  <div class="about-me">
    <h2>About me</h2>
    <p>
      "Hey there! I'm Harshit a passionate React developer driven by the thrill
      of crafting immersive digital experiences. With a love for problem-solving
      and an eye for detail, I specialize in building dynamic web and app
      solutions using React. I thrive on the challenges of coding, constantly
      seeking innovative ways to create seamless user interfaces. Beyond the
      screen, I'm an avid learner, always exploring new technologies to stay at
      the forefront of web development. Let's collaborate and bring your ideas
      to life!"
    </p>
  </div>
  <div class="education">
    <h2 style="text-align: center">Education</h2>
    <ul>
      <li>High School : St Joseph's College Prayagraj</li>
      <li>
        College : Shri Ramswaroop Memorial University Lucknow <br />
        BTech in Computer Science
      </li>
    </ul>
  </div>
  <div class="work-experience">
    <h2 style="text-align: center">Work Experience</h2>

    <ul>
      <li>
        1+ Year Experience in Web Development Using React JS , Node JS , MongoDB
      </li>
      <li>
        6 Months Experience in Building Native Mobile Applications Using Flutter
      </li>
      <li>1 Month Experience in Working as Angular Developer At Mphasis</li>
    </ul>
  </div>
</div>
