<div class="hero-page">
  <div class="left-hero">
    <h1 class="hero-title">Hello, I am Harshit Dubey</h1>
    <h1 style="color: #860a35">React Developer</h1>
    <h3>
      "Hi, I'm Harshit Dubey a passionate React developer currently honing my
      craft at Mphasis. My expertise lies in leveraging React to craft dynamic,
      user-centric web and app solutions. With a knack for problem-solving, I
      thrive on tackling coding challenges head-on, delivering elegant solutions
      that enhance user experiences. My dedication to continuous learning
      ensures I stay at the forefront of web development trends, enabling me to
      create seamless, innovative digital experiences. Let's build something
      amazing together!"
    </h3>

    <h3>Currently In : Bangalore Karnataka</h3>
  </div>

  <div class="right-hero">
    <div class="image-container">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/2300px-React-icon.svg.png"
        alt="Your Image"
        class="spinning-image"
      />
    </div>
  </div>
</div>
