<div class="contact-page">
  <h2>Get In touch With me</h2>
  <form>
    <div class="form-row">
      <input type="text " name="name" placeholder="enter your name" />
      <input type="text " name="name" placeholder="enter your email" />
    </div>

    <textarea
      type="text "
      name="name"
      placeholder="enter your message"
    ></textarea>
  </form>
  <button class="submit">Submit</button>

  <div>
    <div class="form-row">
      <h3>Email : "hdlikes8&#64;gmail.com"</h3>
      <h3>Phone :9721152944</h3>
    </div>
  </div>
</div>
