<!-- This Will be the only screen  -->

<div class="home">
  <header class="header">
    <a class="header-title" href="#hero">Home</a>
    <a class="header-title" href="#about">About-Me</a>
    <a class="header-title" href="#skills">Skills</a>
    <a class="header-title" href="#projects">Projects</a>
    <a class="header-title" href="#contact">Contact-Me</a>
  </header>

  <div id="hero">
    <app-hero></app-hero>
  </div>

  <div id="about">
    <app-about-me></app-about-me>
  </div>

  <div id="skills">
    <app-skills></app-skills>
  </div>

  <div id="projects">
    <app-my-projects></app-my-projects>
  </div>

  <div id="contact">
    <app-contact-me></app-contact-me>
  </div>
</div>
